@import url('https://fonts.googleapis.com/css2? family = Alfa + Slab + One & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Patua + One & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Parisienne&display=swap');
header{
    background-color: #d8d5cc;
    height: 61px;
    text-align: center;
    width: 100%;
   
}
 
#hi {

   font-family: 'Abril Fatface', cursive;
   background-color:#d8d5cc; 
   margin-left: 0px;
   padding-left: 0px;
   text-align: center;
   
 }
 
 
 
 
 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   margin-bottom: .5rem;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.2;
   color: inherit;
}
 
ul{
    padding-inline-start: 0px;
}
 #nav{
width: 100px;
height: 40px;
float: left;
cursor: pointer;
 }


 
 
   #menu {
     display: block;
     position: absolute;
     width: 200px;
    align-items: center;
    left: 0px;
     background: #e0dddd;
    transition: 0.6s;
     z-index: 1000;
     height: 0px;
     visibility: hidden;
     overflow-y: hidden;
     color: rgb(0, 0, 0);
     top: 61px;
   }
   #nav.active #menu {
     height: calc(70vh - 70px);
     visibility: visible;
     
    
   }
   
   #btn-mobile {
     display: flex;
    margin: 0px;
     font-size: 1rem;
     border: none;
     background: none;
     cursor: pointer;
     gap: 0.5rem;
   }
   #hamburger {
     border-top: 3px solid;
     width: 25px;
     color: #000000 ;
     margin-top: 20px;
     margin-bottom: 20px;
     
   }
   #hamburger::after,
   #hamburger::before {
     content: '';
     display: block;
     width: 25px;
     height: 3px;
     background: currentColor;
     margin-top: 5px;
     transition: 0.3s;
     position: relative;
     color: #000000;
   }
   #nav.active #hamburger {
     border-top-color: transparent;
   }
   #nav.active #hamburger::before {
     transform: rotate(135deg);
   }
   #nav.active #hamburger::after {
     transform: rotate(-135deg);
     top: -8px;
   }
   #nav #menu li{
     display: block;
    border-bottom: 1px solid gray;
     width: 100%;
    text-align: center;
   padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
   }
 #nav #menu li a{
 
     text-decoration: none;
     color: rgb(0, 0, 0);
    
 }
 #nav #menu li a:hover{
   color: rgb(255, 255, 255);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: block;
   width: 100%;
   background-color: #363432;
 
 }
 .col{
  width:300px ; 
 }
 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 margin-right: -0px;


  margin-left: -0px; 
}
.search-box{
  position: absolute;
  top: 30px;
  
  transform: translate(0%,-50%);
 
  height: 30px;

  padding: 10px;
  color: #ffffff;
  text-align: center;
}
.search-btn{
  color: black;
  
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.search-txt{
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  height: 25px;

}
*, ::after, ::before {
  box-sizing: unset; 
}
#bamos{
  width: 500px;

  text-align: justify;
  padding-top: 100px;
 

}


.text-center{
  text-align: left !important;
  margin-top: 20px;
      margin-bottom: 10px;
}

.text-center img{
  width: 500px;
  height: 200px;
  border: 0px;

}
.rounded {
  border-radius: 0.0em !important;
}
#bamos b{
text-align:justify;
padding-top: 10px;
font-family: 'Times New Roman', Times, serif;
}
*, ::after, ::before {
 box-sizing: unset;}
 #vdlm{
  width: 420px;
  float: left;
  text-align: center;
 background-color: white;
 margin-left:15%;
 margin-right: 20px;
 border-right: 2px solid gray ;
 border-left: 2px solid gray ;
 border-bottom: 2px solid gray ;

}
#vdlm h3{
  font-family: 'Parisienne', cursive;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}
#vdlm iframe{
  margin-bottom: 13px;
}
#leiamais{
  float: left;
  width: 420px;
 background-color:white;
margin-right: 15%;
border-left: 2px solid gray ;
border-right: 2px solid gray ;
border-bottom: 2px solid gray ;


}
#leiamais h3{
  text-align: center;
  font-family: 'Parisienne', cursive;
  background-color: rgb(0, 0, 0);
  color: white;

}
.tec{
  display: block;
;
  text-align: justify;
 
 margin-bottom: 10px;
 margin: 5%;
  
}
.tec a{
  color: rgb(0, 0, 0);
  margin-bottom: 10spx;
}
.tec a:hover{
  text-decoration: none;
  color: blue;
}
.tec img{
  width: 200px;
  height: 100px;
  margin-left: 25%;
margin-top: 10px;
  margin-right: 100%;
  margin-bottom: 5px;
 
}
.container {
  width: 100%;
 padding-right: 0px; 
   padding-left: 0px; 
  margin-right: auto;
  margin-left: auto;
}


 footer{
  width: 100%;
    display: block;
    margin-top: 40%;
    background-color: #d8d5cc;
    height: 74px;
    font-family: 'Merriweather', serif;
  }
   h4{
    padding-top: 30px;
    float: left;
    margin-left: 100px;
  }
  footer img{
    width: 210px;
    float: right;
    
  }
  #integrantes{
    float: left;
    padding-top: 34px;
    margin-left: 2px;
  }
  
  

    @media only screen and (min-width: 1025px) {
#nice{
  display: none;
}
  }
  @media only screen and (max-width: 1024px) {
    
    .search-box{
      display: none;
    }
    header{
      width: 100%;
    }
    #nice{
      width: 51px;
      
    }
    #hi{
      font-size: 26px;
    
      margin-top: 7%;
      text-align: center;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 0px; 
      padding-left: 0px; 
  }
  #nav{
    width: 50px;
    height: 40px;
    float: left;
    cursor: pointer;
     }
    
    
     
     
       #menu {
         display: block;
         position: absolute;
         width: 200px;
        align-items: center;
        left: 0px;
         background: #e0dddd;
        transition: 0.6s;
         z-index: 1000;
         height: 0px;
         visibility: hidden;
         overflow-y: hidden;
         color: rgb(0, 0, 0);
         top: 61px;
       }
       #nav.active #menu {
         height: calc(70vh - 70px);
         visibility: visible;
         
        
       }
       
       #btn-mobile {
         display: flex;
        margin: 0px;
         font-size: 1rem;
         border: none;
         background: none;
         cursor: pointer;
         gap: 0.5rem;
       }
       #hamburger {
         border-top: 2px solid;
         width: 20px;
         color: #000000 ;
         margin-top: 20px;
         margin-bottom: 20px;
         
       }
       #hamburger::after,
       #hamburger::before {
         content: '';
         display: block;
         width: 20px;
         height: 2px;
         background: currentColor;
         margin-top: 5px;
         transition: 0.3s;
         position: relative;
         color: #000000;
       }
       #nav.active #hamburger {
         border-top-color: transparent;
       }
       #nav.active #hamburger::before {
         transform: rotate(135deg);
       }
       #nav.active #hamburger::after {
         transform: rotate(-135deg);
         top: -7px;
       }
       #nav #menu li{
         display: block;
        border-bottom: 1px solid gray;
         width: 100%;
        text-align: center;
       padding-top: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
       }
     #nav #menu li a{
     
         text-decoration: none;
         color: rgb(0, 0, 0);
        
     }
     #nav #menu li a:hover{
       color: rgb(255, 255, 255);
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       display: block;
       width: 100%;
       background-color: #363432;
     
     }
     #bamos{
      width: 300px;
    
      text-align: justify;
      padding-top: 100px;
     
    
    }
    .text-center img{
      width: 300px;
      height: 150px;
    
    }
    .rounded {
       border-radius: 0rem !important; 
  }
  #c{
    display: none;
  }
  #d{
    display: none;
  }
  #e{
    display: none;
  }
  #vdlm{
    width: 60%;
    float: left;
    text-align: center;
   background-color: white;
   margin-left:20%;
   margin-right: 20px;
   border-right: 2px solid gray ;
   border-left: 2px solid gray ;
   border-bottom: 2px solid gray ;
  
  }
  #vdlm h3{
    font-family: 'Parisienne', cursive;
    background-color: black;
    color: white;
    margin-bottom: 10px;
  }
  #vdlm iframe{
    margin-bottom: 10px;
  }
  #leiamais{
    width: 60%;
    float: left;
    text-align: center;
    background-color: white;
    margin-left: 20%;
    margin-right: 20px;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-top: 100px;
}
  #leiamais h3{
    text-align: center;
    font-family: 'Parisienne', cursive;
    background-color: rgb(0, 0, 0);
    color: white;
  
  }
  .tec{
   display: block;
   text-align: justify;
   margin-bottom: 10px;  
  }
  .tec a{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 13px;
  }
  .tec a:hover{
    text-decoration: none;
    color: blue;
  }
  .tec img {
    width: 200px;
    height: 100px;
    margin-left: 0%;
    margin-top: 10px;
    margin-right: 0%;
    margin-bottom: 5px;

  }
  footer{
    width: 100%;
      display: block;
      margin-top: 300%;
      background-color: #d8d5cc;
      height: 75px;
      font-family: 'Merriweather', serif;
    }
     h4{
       font-size: 10px;
      padding-top: 30px;
      margin-left:4px ;
      margin-right: 2px;
    
      
    }
    footer img{
      width: 210px;
     display : none;
      
    }
    #integrantes{
      float: left;
      padding-top: 34px;
     
      font-size: 5px;
      width: 270px;
    }
    #bamos b{
      font-family: 'Times New Roman', Times, serif;
      margin-bottom: 40px;

    }
    .text-center{
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
